:root {
    --color-accent: #0000fe;
}

html,
body {
    height: 100%;
}

body {
    display: flex;
    margin: 0;
    font-family: Helvetica, Arial, sans-serif;
}

a {
    color: var(--color-accent);
}

#dropzone {
    display: flex;
    flex: 1;
    margin: 2em;
    align-items: center;
    justify-content: center;
    text-align: center;
    border: 0.25em var(--color-accent) dashed;
    border-radius: 1em;
}